.mentions {
  margin: 5rem 0 5rem 2rem;

  h1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  h2 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
  }

  h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.25rem;
  }
}
