<% if notice %>
  <div class="alert success" data-controller="notice">
    <%= notice.html_safe %>
    <i class="fa-solid fa-xmark" data-action="click->notice#close" ></i>
  </div>
<% end %>
<% if alert %>
  <div class="alert error" data-controller="notice">
    <%= alert.html_safe %>
    <i class="fa-solid fa-xmark" data-action="click->notice#close" ></i>
  </div>
<% end %>
