<div class="footer">
  <div class="sectionfooter">
    <div class="menuFooter">
      <p class="menuFooter-title">dlf immobilier</p>
      <ul>
        <li><a href="#ancreagence">Agence</a></li>
        <li><a href="#ancrevente">Vente</a></li>
        <li><a href="#ancrerecherche">Recherche</a></li>
        <li><a href="#ancreestimation">Estimation</a></li>
        <li><a href="#ancrecontact">Contact</a></li>
      </ul>
    </div>
    <div class="footer-center">
        <%= image_tag "logo-dlf-immo-white.png", alt: "logo dlf", class: 'footer-logo' %>
    </div>
    <div class="blocdroitfooter">
      <div class="menuFooter align-right">
        <p class="menuFooter-title">contact</p>
        <ul>
          <li><p>Delphine De Montgolfier</p></li>
          <li><p>06 64 73 46 06</p></li>
          <li><a href="mailto:delphine@dlf.immo">delphine@dlf.immo</a></li>
          <ul class="menuFooter-social">
            <li><a href="https://www.facebook.com/Dlf.immobilier/" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/dlf.immobilier/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="https://www.linkedin.com/in/d-rogerdalbert/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
          </ul>
        </ul>
      </div>
    <div>
        <%= image_tag "photo-portrait-delphine.png", alt: "photo portrait", class:"photoportrait" %>
    </div>
  </div>
</div>
<div class="mentions">
</div>
  <hr>
  <p style="text-align:center; font-weight: 300; padding-bottom: 15px;">© 2022 DLF immobilier - Tous droits réservés - <%= link_to "Mentions légales", mentions_legales_path %> - <%= link_to "Réalisation Agence AP","https://www.linkedin.com/" %></p>
