
<nav class="nav">
  <%= image_tag "logo-dlf-immo.png", alt: "logo dlf", class: "logo" %>
   <div class="hamburger-container">
    <ul class="hamburger">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <ul id="menu">
    <li><a href="#ancreagence">Agence</a></li>
    <li><a href="#ancrevente">Vente</a></li>
    <li><a href="#ancrerecherche">Recherche</a></li>
    <li><a href="#ancreestimation">Estimation</a></li>
    <li><a href="#ancrecontact">Contact</a></li>
  </ul>
</nav>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
