<div class="container">
  <div class="mentions">
    <h1>Mentions légales</h1>


    <h2>1. Site de la société Dlf.Immobilier</h2>
    <ul>
      <li>Nom de la société : SAS DRD.Immobilier</li>
      <li>Raison sociale: Dlf.Immobilier</li>
      <li>Adresse du Siège Social : 71 avenue du 8 mai 1945, 07300 Tournon-sur-Rhône</li>
      <li>Téléphone : 06 64 73 46 06</li>
      <li>delphine@dlf.immo</li>
      <li>SIRET n°88828894100014 RCS Aubenas</li>
      <li>N° TVA intracommunautaire : N° FR 888288941 - Code APE : 6831Z</li>
      <li>Capital social : 1 000 EUR</li>
      <li>Carte Professionnelle (T) n° 0701 2020 000 000 005 délivrée par la CCI de l’Ardèche</li>
      <li>Non détention de fonds- Absence de garantie financière</li>
    </ul>


    <h2>2. Grille des honoraires</h2>
    <p>
      Applicable au 26 mai 2020, TVA comprise au taux de 20% en vigueur.
      Les honoraires sont calculés sur le prix de vente du bien. Conformément à l'arrêté du 26 janvier 2022, les prix
      affichés constituent le montant maximum des honoraires.
    </p>

    <h3>HONORAIRES DE L'AGENCE :</h3>
    <ul>
      <li>En cas d'exclusivité, baisse du taux d'honoraires indiqué de 0,5% et prise en charge des diagnostics.</li>
      <li>Forfait minimum : 5000 € TTC</li>
      <ul>
        <li>Honoraires de stationnement et de garage : 1500 €</li>
        <li>Pour la vente des programmes neufs, la grille tarifaire du promoteur est appliquée.</li>
      </ul>
      <li>Avis de valeur : sur devis</li>
    </ul>

    <table>
      <thead>
        <tr>
          <th>Prix de vente</th>
          <th>Valeur</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>< 150 000€</td>
          <td>6%</td>
        </tr>
        <tr>
          <td>150 000€ - 450 000€</td>
          <td>5,5%</td>
        </tr>
        <tr>
          <td>450 001€ - 650 000€</td>
          <td>5%</td>
        </tr>
        <tr>
          <td>650 001€ - 1 000 000€</td>
          <td>4,5%</td>
        </tr>
        <tr>
          <td>> 1 000 001 €</td>
          <td>4%</td>
        </tr>
      </tbody>
    </table>


    <h2>3. Directeur de la publication</h2>
    <p>Delphine de MONTGOLFIER</p>

    <h2>4. Responsable de la rédaction</h2>
    <p>Delphine de MONTGOLFIER</p>

    <h2>5. Editeur du site</h2>
    <p>Designer Web Alice Schönfeld - schonfeldalice@gmail.com</p>
    <h2>6. Hébergeur du site</h2>
    <p>Heroku.com</p>
    <p>Heroku-Salesforce ; The Landmark @ 1 Market St. ; Suite 300 ; San Francisco, CA 94105, Etats-Unis</p>

    <h2>7. Droits de propriété intellectuelle attachés au Site</h2>
    <p>
      Le Site Dlf.Immobilier est une œuvre de l'esprit protégée par le droit de la propriété intellectuelle. Le Site et
      chacun des éléments qui le composent (tels que, notamment, marques, logos, photographies, images, illustrations,
      textes, vidéos...) sont la propriété exclusive de Dlf.Immoilier, seule habilitée à utiliser les droits de la
      propriété intellectuelle et droits de la personnalité y afférent, celle-ci ne concédant aucune licence, ni aucun
      autre droit que celui de consulter le site.
    </p>
    <p>
      La reproduction de tous documents publiés sur le Site est seulement autorisée aux fins exclusives d'information pour
      un usage strictement personnel et privé. Toute reproduction et/ou représentation, intégrale ou partielle, du Site,
      ou de l'un quelconque des éléments qui le composent, sur quelque support que ce soit, à d'autres fins, et notamment
        commerciales, est expressément interdite.
    </p>
    <p>
      A l'exception des circonstances ci-dessus visées, toute autre reproduction et/ou représentation du Site devra faire
      l'objet d'une autorisation expresse et préalable de Dlf.Immobilier. De même, la création de liens hypertextes vers
      le Site ne peut être faite qu'avec l'autorisation écrite et préalable de Dlf.Immobilier. Dlf.Immobilier décline
      toute responsabilité concernant le contenu, la publicité, les produits ou les services disponibles sur ou à partir
      des sites liés au Site.
    </p>
    <p>
      En outre, l'ensemble des marques citées dans le Site sont des marques déposées et donc protégées. Toute utilisation
      d'une quelconque des dites marques ne peut être faite sans le consentement préalable, exprès et écrit de
      Dlf.Immobilier, sous peine de contrefaçon.
    </p>
    <p>
      Par ailleurs, sauf accord exprès et écrit de Dlf.Immobilier, l'Utilisateur n'est pas autorisé à placer sur son
      propre site Internet un lien hypertexte pointant vers le Site et/ou vers les pages qu'il contient.
    </p>
    <p>Toute demande d'autorisation doit être adressée à delphine@dlf.immo.</p>
    <p>Toute utilisation non autorisée constitue une contrefaçon sanctionnée pénalement.</p>

    <h2>8. Données personnelles</h2>
    <p>
      Dlf.Immobilier pourra être amenée à collecter des données personnelles concernant l'Utilisateur. Ces données
      personnelles feront l'objet d'un traitement automatisé et pourront être destinées à vous contacter. Conformément
      aux dispositions de la loi n°78-17 du 6 janvier 1978 modifiée, relative à l'informatique, aux fichiers et aux
      libertés, l'Utilisateur est informé qu'il dispose d'un droit d'accès, d'opposition, de rectification et de
      radiation des données le concernant. Pour exercer ces droits, il suffit à l'utilisateur d'en faire la demande sur
      le formulaire de contact du Site.
    </p>
    <p>
      Dlf.Immobilier s'engage à préserver la confidentialité des données personnelles transmises par l'utilisateur dans
      le cadre de l'utilisation du Site. Par ailleurs, sous réserve d'avoir obtenu son consentement exprès et préalable
      lors de la collecte des données, Dlf.Immobilier pourra adresser à l'utilisateur des prospections directes par
      courrier électronique.
    </p>
    <p>
      Enfin, sous réserve d'avoir obtenu son consentement exprès et préalable lors de la collecte des données,
      Dlf.Immobilier pourra être amenée à transférer les données concernant l'utilisateur à ses partenaires.
    </p>


    <h2>9. Utilisation de Site</h2>

    <h3>a. Utilisation du contenu du Site</h3>
    <p>
      Dlf.Immobillier s'efforce de mettre à jour le contenu du site et de délivrer aux utilisateurs des informations
      exactes.
    </p>
    <p>
      Néanmoins, l'utilisateur sait que les transmissions de données et d'informations sur Internet ne bénéficient que
      d'une fiabilité technique relative, celles-ci circulant sur des réseaux de nature très hétérogène. Dès lors,
      Dlf.Immobilier ne peut garantir l'exactitude des données figurant sur le site.
    </p>
    <p>
      Toute erreur ou omission devra être notifiée sur le formulaire de contact du Site.
    </p>
    <p>
      Toute utilisation du Site non conforme à son esprit original et toute violation des présentes stipulations pourront
      donner lieu à l'application des peines pénales et civiles prévues par la loi.
    </p>

    <h3>b. Accès au Site</h3>
    <p>
      Dlf.Immobilier s'efforce de maintenir accessible le site, sans pour autant être tenue à aucune obligation d'y
      parvenir. Il est précisé qu'à des fins de maintenance, de mise à jour, et pour toute autre raison notamment d'ordre
      technique, l'accès au site pourra être interrompu. Dlf.Immobilier n'est en aucun cas responsable de ces
      interruptions et des conséquences qui peuvent en découler pour l'utilisateur.
    </p>

    <h3>c. Liens hypertextes mis en place sur le Site</h3>
    <p>
      Les liens hypertextes mis en place sur le Site peuvent conduire l'utilisateur sur les sites Internet de différents
      partenaires. Il est précisé que Dlf.Immobilier n'a pas vérifié tous les sites éventuellement reliés au sien, leur
      contenu et les informations qui y sont présentes, et décline par conséquent toute responsabilité sur le contenu de
      ces sites et sur l'utilisation qui en est faite par l'utilisateur. Le recours à ces sites par l'utilisateur relève
      de la seule responsabilité de ce dernier.
    </p>

    <h2>11. Médiateur de la consommation</h2>
    <p>
      Si en tant que client vous rencontrez un différend avec l'agence immobilière Dlf.Immobilier, et que la réponse à
      votre réclamation ne vous satisfait pas, vous pouvez saisir gratuitement le Médiateur du Commerce Coopératif et
      Associé, qui est compétent pour tout litige portant sur l'exécution des contrats conclus avec un agent immobilier,
      en envoyant un email à : servicemediation@mcca-mediation.fr, ou par courrier à l'adresse suivante : Médiateur du
      Commerce Coopératif et Associé - FCA - 77 rue de Lourmel - 75015 Paris, ou sur le site internet
      www.mcca-mediation.fr sur lequel se trouvent la Charte de la Médiation du Commerce Coopératif et Associé et les
      pièces justificatives à fournir.
    </p>
  </div>
</div>
