@import 'new';

.cardIndex {
  position: relative;

  img {
    display: block;
  }

  p {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5rem;
    margin: 0.6rem;
    font-size: 1rem;
    color: $gray-light;
    background-color: $orange-transparent;
    border-radius: 5%;
  }
}

.indexIcons {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  font-size: 2rem;

  a {
    color: $light-gray;
    &:hover {
      color: $middle-gray;
    }
  }
}
