// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/breakpoints";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "devise/index";
@import "admin/index";

body {
  font-family: $body-font;
}

h1,
h2 {
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  color: $orange;

  @media (min-width: $breakpoint-md) {
    font-size: 36px;
  }
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.align-right {
  text-align: right;
}
