<div class="houseNew">
  <div class="row justify-content-center">
    <div class="col-8 col-sm-8">
      <div class="houseNew-bloc">
        <h2>Modifier le bien</h2>
        <%= render "form", house: @house %>
        <%= link_to "Retour", admin_root_path %>
      </div>
    </div>
  </div>
</div>
